@{
    ViewBag.Title = "Main Menu";
}

<div>
    <h2>User MainMenu</h2>
</div>
<div>
    <ul>
        <li><h4>@Html.ActionLink("Entries", "Index", "Entries")</h4></li>
        <li><h4>@Html.ActionLink("Teams", "Index", "Teams")</h4></li>
        <li><h4>@Html.ActionLink("Race Events", "Index", "RaceEvents")</h4></li>
        <li><h4>@Html.ActionLink("Social Events", "Index", "SocialEvents")</h4></li>
        <li><h4>@Html.ActionLink("Results", "Index", "Results")</h4></li>
        <li><h4>@Html.ActionLink("Clubs", "Index", "Clubs")</h4></li>
        <li><h4>@Html.ActionLink("Home Page", "Index", "Home")</h4></li>
    </ul>
</div>