@model Ros.WebApplication.Models.ViewModels.EntryViewModels.EntryCreateViewModel

@{
    ViewBag.Title = "Create Entry";
}

<h2>Create Entry</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.EntryNo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EntryNo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.EntryNo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EntryName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EntryName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.EntryName, "", new { @class = "text-danger" })
            </div>
        </div>

        <h4>@Html.ActionLink("Create Boat", "Create", "Boat")</h4>

        <div class="form-group">
            @Html.LabelFor(model => model, "Select Boat", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("BoatId", (SelectList)ViewBag.BoatDropDownList, "-- Select Boat --", htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model, "", new { @class = "text-danger" })
            </div>
        </div>

        <h4>@Html.ActionLink("Create Club", "Create", "Clubs")</h4>

        <div class="form-group">
            @Html.LabelFor(model => model, "Select Club", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("ClubRepresentationId", (SelectList)ViewBag.ClubDropDownList, "-- Select Club --", htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model, "Select Regatta", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("RegattaId", (SelectList)ViewBag.RegattaDropDownList, "-- Select Regatta --", htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>