@{
    ViewBag.Title = "Navigations";
}

<div>
    <h2>User Navigations</h2>
</div>
<div>
    <ul>
        <li><h4>@Html.ActionLink("User-Index", "Index", "Users")</h4></li>
        <li><h4>@Html.ActionLink("User-Details", "Details", "Users")</h4></li>
        <li><h4>@Html.ActionLink("User-Create", "Create", "Users")</h4></li>
        <li><h4>@Html.ActionLink("User-Edit", "Edit", "Users")</h4></li>
        <li><h4>@Html.ActionLink("User-Delete", "Delete", "Users")</h4></li>
    </ul>
</div>