@{
    ViewBag.Title = "Clubs Navigations";
}

<div>
    <h2>Clubs Navigations</h2>
</div>
<div>
    <ul>
        <li><h4>@Html.ActionLink("Club-Index", "Index", "Clubs")</h4></li>
        <li><h4>@Html.ActionLink("Club-Details", "Details", "Clubs")</h4></li>
        <li><h4>@Html.ActionLink("Club-Create", "Create", "Clubs")</h4></li>
        <li><h4>@Html.ActionLink("Club-Edit", "Edit", "Clubs")</h4></li>
        <li><h4>@Html.ActionLink("Club-Delete", "Delete", "Clubs")</h4></li>
    </ul>
</div>