@{
    ViewBag.Title = "Boat Navigations";
}

<div>
    <h2>Boat Navigations</h2>
</div>
<div>
    <ul>
        <li><h4>@Html.ActionLink("Boat-Index", "Index", "Boat")</h4></li>
        <li><h4>@Html.ActionLink("Boat-Create", "Create", "Boat")</h4></li>
        <li><h4>@Html.ActionLink("Boat-Edit", "Edit", "Boat")</h4></li>
        <li><h4>@Html.ActionLink("Boat-DropDownList", "DropDownList", "Boat")</h4></li>
        @*<li><h4>@Html.ActionLink("Boat-Navigations", "Navigations", "Boat")</h4></li>*@
    </ul>
</div>